# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/server/dist
/server/tmp
/server/out-tsc

# dependencies
/server/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
.vscode
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/server/.vscode
/server/.vscode/*
/server/!.vscode/settings.json
/server/!.vscode/tasks.json
/server/!.vscode/launch.json
/server/!.vscode/extensions.json

# misc
/server/.sass-cache
/server/connect.lock
/server/coverage
/server/libpeerconnection.log
/server/npm-debug.log
/server/testem.log
/server//typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Mock API
/api/node_modules

/server/uploads
/android
