<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <!-- Basic Inputs Validation start -->
      <app-card
        [title]="'إنشاء طلب'"
        [headerContent]="'إنشاء طلب لمستخدم مخصص'"
        [cardOptionBlock]="true"
      >
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div
            formArrayName="items"
            *ngFor="let item of myForm.get('items').controls; let i = index"
          >
            <div class="form-group row" [formGroupName]="i">
              <label class="col-sm-2 col-form-label">
                المنتج رقم # {{ i + 1 }} <span style="color:red">*</span></label
              >

              <ng-select
                formControlName="product"
                [items]="products"
                bindLabel="name"
                bindValue="id"
                class="col-sm-4"
                (change)="changeProduct(i)"
                [clearable]="false"
              ></ng-select>

              <label class="col-sm-2 col-form-label"
                >الكمية <span style="color:red">*</span></label
              >
              <div class="col-sm-2">
                <input
                  type="number"
                  class="form-control"
                  id="quantity"
                  placeholder="Quantity"
                  formControlName="quantity"
                  number
                  min="1"
                  (change)="onQuantityChange(i)"
                />
              </div>

              <a class="btn btn-success  light" (click)="addItem()">+</a>

              <a
                *ngIf="myForm.controls.items.controls.length > 1"
                class="btn btn-danger light"
                (click)="removeItem(i)"
                >-</a
              >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">السعر الكلي</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="total"
                placeholder="Total Price"
                formControlName="total"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >المستخدم <span style="color:red">*</span></label
            >

            <ng-select
              [items]="userObservable | async"
              formControlName="user"
              class="col-sm-4"
              bindLabel="email"
              bindValue="id"
              [clearable]="false"
            >
            </ng-select>
          </div>

          <!--
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Promo Code</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="code"
                  placeholder="Promo Code"
                  formControlName="code"
                />
              </div>
            </div>
          -->

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >عنوان التسليم <span style="color:red">*</span>
            </label>
            <div class="col-sm-10">
              <textarea
                rows="5"
                class="form-control"
                id="address"
                placeholder="عنوان التسليم ?"
                formControlName="address"
              ></textarea>
              <div
                class="messages text-danger"
                *ngIf="myForm.controls.address.errors?.required"
              >
                لا يمكن ترك حقل العنوان فارغًا
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">ملاحظات</label>
            <div class="col-sm-10">
              <textarea
                rows="5"
                class="form-control"
                id="note"
                placeholder="إذا كان المستخدم لديه أي ملاحظة؟"
                formControlName="note"
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              <button
                type="submit"
                class="btn btn-primary m-b-0 ripple light"
                [disabled]="!myForm.valid"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </app-card>
      <!-- Basic Inputs Validation end -->
    </div>
  </div>
</div>
