<form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input formControlName="email" matInput placeholder="E-mail" email>
  </mat-form-field>
  <p *ngIf='formGroup.controls.email.invalid && formGroup.controls.email.touched'>Email is Required</p>
  <mat-form-field class="example-full-width">
    <input name="password" matInput placeholder="password" type="password">
  </mat-form-field>

  <button mat-button type="submit">Submit</button>

</form>
