<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <!-- Basic Inputs Validation start -->
      <app-card
        [title]="'Basic Inputs Validation'"
        [headerContent]="
          'Lorem ipsum dolor sit amet, consectetur adipisicing elit'
        "
        [cardOptionBlock]="true"
      >
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Simple Input</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Text Input Validation"
                formControlName="name"
              />
              <div
                class="messages text-danger"
                *ngIf="myForm.controls.name.errors?.required"
              >
                Name can't be blank
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Parent</label>
            <div class="col-sm-10">
              <label class="custom-file">
                <input
                  type="file"
                  (change)="onFileChanged($event)"
                  class="custom-file-input"
                  formControlName="banner"
                  value="Choose MoMo"
                  accept="image/png,image/jpg,image/gif"
                />
                <span class="custom-file-control"></span>
              </label>
            </div>

            <div class="col-sm-2">
              <img
                style="margin:8px"
                [src]="selectedImage"
                *ngIf="selectedImage"
                height="200"
              />
            </div>

            <!-- Start Uploading Area -->
            <!--
              <div class="col-md-9">
                <div class="sub-title">Upload Queue</div>
                <p>Queue length: {{ uploader?.queue?.length }}</p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of uploader.queue">
                        <td>
                          <strong>{{ item?.file?.name }}</strong>
                        </td>
                        <td *ngIf="uploader.isHTML5" nowrap>
                          {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
                        </td>
                        <td *ngIf="uploader.isHTML5">
                          <div class="progress" style="margin-bottom: 0;">
                            <div
                              class="progress-bar"
                              role="progressbar"
                              [ngStyle]="{ width: item.progress + '%' }"
                            ></div>
                          </div>
                        </td>
                        <td class="text-center">
                          <span *ngIf="item.isSuccess"
                            ><i class="fa fa-check"></i
                          ></span>
                          <span *ngIf="item.isCancel"
                            ><i class="fa fa-ban"></i
                          ></span>
                          <span *ngIf="item.isError"
                            ><i class="fa fa-times"></i
                          ></span>
                        </td>
                        <td nowrap>
                          <button
                            type="button"
                            class="btn btn-success btn-sm ripple light"
                            (click)="item.upload()"
                            [disabled]="
                              item.isReady || item.isUploading || item.isSuccess
                            "
                          >
                            <span class="fa fa-upload"></span> Upload
                          </button>
                          <button
                            type="button"
                            class="btn btn-warning btn-sm ripple light"
                            (click)="item.cancel()"
                            [disabled]="!item.isUploading"
                          >
                            <span class="fa fa-ban"></span> Cancel
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger btn-sm ripple light"
                            (click)="item.remove()"
                          >
                            <span class="fa fa-trash"></span> Remove
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="5" class="text-center">
                          <span>Your Uploaded Files</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div>
                  <div class="sub-title">Queue progress</div>
                  <p>
                    <ngb-progressbar
                      type="primary"
                      [value]="uploader.progress"
                    ></ngb-progressbar>
                  </p>

                  <div class="sub-title">Common Action</div>
                  <button
                    type="button"
                    class="btn btn-success ripple light m-b-5"
                    (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length"
                  >
                    <span class="fa fa-upload"></span> Upload all
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning ripple light m-b-5"
                    (click)="uploader.cancelAll()"
                    [disabled]="!uploader.isUploading"
                  >
                    <span class="fa fa-ban"></span> Cancel all
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger ripple light m-b-5"
                    (click)="uploader.clearQueue()"
                    [disabled]="!uploader.queue.length"
                  >
                    <span class="fa fa-trash"></span> Remove all
                  </button>
                </div>
              </div>
            -->
            <!-- End Uploading Area -->
          </div>
          <div class="form-group row">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              <button
                type="submit"
                class="btn btn-primary m-b-0 ripple light"
                [disabled]="!myForm.valid"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </app-card>
      <!-- Basic Inputs Validation end -->
    </div>
  </div>
</div>
