<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'العلامات التجارية'">
        <div class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
              <div>
                <label class="label-control"
                  >Show
                  <select
                    class="form-control input-sm full-data-show-entry"
                    [(ngModel)]="rowsOnPage"
                  >
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <!--
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                    -->
                  </select>
                  entries
                </label>

                <a
                  routerLink="/brands/create"
                  id="create-btn"
                  class="btn btn-primary ripple light btn-round"
                >
                  إنشاء
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div style="text-align: right;">
                <label
                  >بحث:
                  <input
                    type="search"
                    [(ngModel)]="filterQuery"
                    class="form-control input-sm full-data-search"
                    placeholder="Search name"
                  />
                </label>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered full-data-table"
              [mfData]="data | dataFilter: filterQuery"
              #mf="mfDataTable"
              [mfRowsOnPage]="rowsOnPage"
              [(mfSortBy)]="sortBy"
              [(mfSortOrder)]="sortOrder"
              [mfActivePage]="currentPage"
            >
              <thead>
                <tr>
                  <th><mfDefaultSorter by="name">الاسم</mfDefaultSorter></th>
                  <th>شعار</th>
                  <th>
                    <mfDefaultSorter by="position">إدارة</mfDefaultSorter>
                  </th>
                </tr>
                <tr></tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data">
                  <td>{{ item.name }}</td>
                  <td>
                    <img
                      height="75"
                      src="http://142.93.207.35:8080/{{ item.logo }}"
                    />
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-success ripple light"
                      (click)="goToUpdate(item)"
                    >
                      تعديل
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger ripple light"
                      (click)="delete(item)"
                    >
                      حذف
                    </button>

                    <!-- <button type="button" class="btn btn-inverse ripple light">
                      View Products
                    </button> -->
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6">
                    <mfBootstrapPaginator
                      class="pagination-main f-right"
                    ></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>
