<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <!-- Basic Inputs Validation start -->
      <app-card
        [title]="'Basic Inputs Validation'"
        [headerContent]="
          'Lorem ipsum dolor sit amet, consectetur adipisicing elit'
        "
        [cardOptionBlock]="true"
      >
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div
            formArrayName="items"
            *ngFor="let item of myForm.get('items').controls; let i = index"
          >
            <div class="form-group row" [formGroupName]="i">
              <label class="col-sm-2 col-form-label">Product {{ i }}</label>

              <ng-select
                formControlName="product"
                [items]="products"
                bindLabel="name"
                bindValue="id"
                class="col-sm-4"
                (change)="changeProduct(i)"
                [clearable]="false"
              ></ng-select>

              <label class="col-sm-2 col-form-label">Quantity</label>
              <div class="col-sm-2">
                <input
                  type="number"
                  class="form-control"
                  id="quantity"
                  placeholder="Quantity"
                  formControlName="quantity"
                  number
                  min="1"
                  (change)="onQuantityChange(i)"
                />
              </div>

              <a class="btn btn-success  light" (click)="addItem()">+</a>

              <a
                *ngIf="myForm.controls.items.controls.length > 1"
                class="btn btn-danger light"
                (click)="removeItem(i)"
                >-</a
              >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Total Price</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="total"
                placeholder="Total Price"
                formControlName="total"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Info</label>

            <div class="label-main ">
              <label class="label label-lg label-primary">Khaled Sayed</label>
            </div>

            <div class="label-main ">
              <label class="label label-lg label-primary">0111111111</label>
            </div>

            <div class="label-main">
              <label class="label label-lg label-success"
                >contact@khaledsayed.com</label
              >
            </div>

            <div class="label-main ">
              <label class="label label-lg label-info">12/12/2018 - 6PM</label>
            </div>

            <div class="label-main ">
              <label class="label label-lg label-warning">Dispatched</label>
            </div>
          </div>

          <!--
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Promo Code</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="code"
                  placeholder="Promo Code"
                  formControlName="code"
                />
              </div>
            </div>
          -->

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Shipping Address</label>
            <div class="col-sm-10">
              <textarea
                rows="5"
                class="form-control"
                id="address"
                placeholder="if the user have any note ?"
                formControlName="address"
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Note</label>
            <div class="col-sm-10">
              <textarea
                rows="5"
                class="form-control"
                id="note"
                placeholder="if the user have any note ?"
                formControlName="note"
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Status</label>

            <ng-select
              formControlName="status"
              [items]="orderOptions"
              bindLabel="label"
              bindValue="value"
              class="col-sm-4"
              [clearable]="false"
            ></ng-select>
          </div>

          <div class="form-group row">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
              <button
                type="submit"
                class="btn btn-primary m-b-0 ripple light"
                [disabled]="!myForm.valid"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </app-card>
      <!-- Basic Inputs Validation end -->
    </div>
  </div>
</div>
